compartilhado/bin/Debug/net6.0/exemplo.crud.compartilhado.deps.json
compartilhado/bin/Debug/net6.0/exemplo.crud.compartilhado.dll
compartilhado/bin/Debug/net6.0/exemplo.crud.compartilhado.pdb
compartilhado/obj/exemplo.crud.compartilhado.csproj.nuget.dgspec.json
compartilhado/obj/exemplo.crud.compartilhado.csproj.nuget.g.props
compartilhado/obj/exemplo.crud.compartilhado.csproj.nuget.g.targets
compartilhado/obj/project.assets.json
compartilhado/obj/project.nuget.cache
compartilhado/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.AssemblyInfo.cs
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.AssemblyInfoInputs.cache
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.assets.cache
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.csproj.AssemblyReference.cache
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.csproj.CoreCompileInputs.cache
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.csproj.FileListAbsolute.txt
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.dll
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.GeneratedMSBuildEditorConfig.editorconfig
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.GlobalUsings.g.cs
compartilhado/obj/Debug/net6.0/exemplo.crud.compartilhado.pdb
compartilhado/obj/Debug/net6.0/ref/exemplo.crud.compartilhado.dll
compartilhado/obj/Debug/net6.0/refint/exemplo.crud.compartilhado.dll
core/bin/Debug/net6.0/exemplo.crud.compartilhado.dll
core/bin/Debug/net6.0/exemplo.crud.compartilhado.pdb
core/bin/Debug/net6.0/exemplo.crud.core.deps.json
core/bin/Debug/net6.0/exemplo.crud.core.dll
core/bin/Debug/net6.0/exemplo.crud.core.pdb
core/obj/exemplo.crud.core.csproj.nuget.dgspec.json
core/obj/exemplo.crud.core.csproj.nuget.g.props
core/obj/exemplo.crud.core.csproj.nuget.g.targets
core/obj/project.assets.json
core/obj/project.nuget.cache
core/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
core/obj/Debug/net6.0/exemplo.crud.core.AssemblyInfo.cs
core/obj/Debug/net6.0/exemplo.crud.core.AssemblyInfoInputs.cache
core/obj/Debug/net6.0/exemplo.crud.core.assets.cache
core/obj/Debug/net6.0/exemplo.crud.core.csproj.AssemblyReference.cache
core/obj/Debug/net6.0/exemplo.crud.core.csproj.CopyComplete
core/obj/Debug/net6.0/exemplo.crud.core.csproj.CoreCompileInputs.cache
core/obj/Debug/net6.0/exemplo.crud.core.csproj.FileListAbsolute.txt
core/obj/Debug/net6.0/exemplo.crud.core.dll
core/obj/Debug/net6.0/exemplo.crud.core.GeneratedMSBuildEditorConfig.editorconfig
core/obj/Debug/net6.0/exemplo.crud.core.GlobalUsings.g.cs
core/obj/Debug/net6.0/exemplo.crud.core.pdb
core/obj/Debug/net6.0/ref/exemplo.crud.core.dll
core/obj/Debug/net6.0/refint/exemplo.crud.core.dll
infra/bin/Debug/net6.0/exemplo.crud.compartilhado.dll
infra/bin/Debug/net6.0/exemplo.crud.compartilhado.pdb
infra/bin/Debug/net6.0/exemplo.crud.core.dll
infra/bin/Debug/net6.0/exemplo.crud.core.pdb
infra/bin/Debug/net6.0/exemplo.crud.infra.deps.json
infra/bin/Debug/net6.0/exemplo.crud.infra.dll
infra/bin/Debug/net6.0/exemplo.crud.infra.pdb
infra/bin/Debug/net6.0/exemplo.crud.infra.runtimeconfig.json
infra/obj/exemplo.crud.infra.csproj.nuget.dgspec.json
infra/obj/exemplo.crud.infra.csproj.nuget.g.props
infra/obj/exemplo.crud.infra.csproj.nuget.g.targets
infra/obj/project.assets.json
infra/obj/project.nuget.cache
infra/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
infra/obj/Debug/net6.0/exemplo.crud.infra.AssemblyInfo.cs
infra/obj/Debug/net6.0/exemplo.crud.infra.AssemblyInfoInputs.cache
infra/obj/Debug/net6.0/exemplo.crud.infra.assets.cache
infra/obj/Debug/net6.0/exemplo.crud.infra.csproj.AssemblyReference.cache
infra/obj/Debug/net6.0/exemplo.crud.infra.csproj.CopyComplete
infra/obj/Debug/net6.0/exemplo.crud.infra.csproj.CoreCompileInputs.cache
infra/obj/Debug/net6.0/exemplo.crud.infra.csproj.FileListAbsolute.txt
infra/obj/Debug/net6.0/exemplo.crud.infra.dll
infra/obj/Debug/net6.0/exemplo.crud.infra.GeneratedMSBuildEditorConfig.editorconfig
infra/obj/Debug/net6.0/exemplo.crud.infra.genruntimeconfig.cache
infra/obj/Debug/net6.0/exemplo.crud.infra.GlobalUsings.g.cs
infra/obj/Debug/net6.0/exemplo.crud.infra.pdb
infra/obj/Debug/net6.0/ref/exemplo.crud.infra.dll
infra/obj/Debug/net6.0/refint/exemplo.crud.infra.dll
web/obj/exemplo.crud.web.csproj.nuget.dgspec.json
web/obj/exemplo.crud.web.csproj.nuget.g.props
web/obj/exemplo.crud.web.csproj.nuget.g.targets
web/obj/project.assets.json
web/obj/project.nuget.cache
web/obj/staticwebassets.pack.sentinel
web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
web/obj/Debug/net6.0/apphost
web/obj/Debug/net6.0/exemplo.crud.web.AssemblyInfo.cs
web/obj/Debug/net6.0/exemplo.crud.web.AssemblyInfoInputs.cache
web/obj/Debug/net6.0/exemplo.crud.web.assets.cache
web/obj/Debug/net6.0/exemplo.crud.web.csproj.AssemblyReference.cache
web/obj/Debug/net6.0/exemplo.crud.web.csproj.CopyComplete
web/obj/Debug/net6.0/exemplo.crud.web.csproj.CoreCompileInputs.cache
web/obj/Debug/net6.0/exemplo.crud.web.csproj.FileListAbsolute.txt
web/obj/Debug/net6.0/exemplo.crud.web.dll
web/obj/Debug/net6.0/exemplo.crud.web.GeneratedMSBuildEditorConfig.editorconfig
web/obj/Debug/net6.0/exemplo.crud.web.genruntimeconfig.cache
web/obj/Debug/net6.0/exemplo.crud.web.GlobalUsings.g.cs
web/obj/Debug/net6.0/exemplo.crud.web.MvcApplicationPartsAssemblyInfo.cache
web/obj/Debug/net6.0/exemplo.crud.web.MvcApplicationPartsAssemblyInfo.cs
web/obj/Debug/net6.0/exemplo.crud.web.pdb
web/obj/Debug/net6.0/project.razor.json
web/obj/Debug/net6.0/staticwebassets.build.json
web/obj/Debug/net6.0/ref/exemplo.crud.web.dll
web/obj/Debug/net6.0/refint/exemplo.crud.web.dll
web/bin/Debug/net6.0/appsettings.Development.json
web/bin/Debug/net6.0/appsettings.json
web/bin/Debug/net6.0/exemplo.crud.compartilhado.dll
web/bin/Debug/net6.0/exemplo.crud.compartilhado.pdb
web/bin/Debug/net6.0/exemplo.crud.core.dll
web/bin/Debug/net6.0/exemplo.crud.core.pdb
web/bin/Debug/net6.0/exemplo.crud.infra.dll
web/bin/Debug/net6.0/exemplo.crud.infra.pdb
web/bin/Debug/net6.0/exemplo.crud.web
web/bin/Debug/net6.0/exemplo.crud.web.deps.json
web/bin/Debug/net6.0/exemplo.crud.web.dll
web/bin/Debug/net6.0/exemplo.crud.web.pdb
web/bin/Debug/net6.0/exemplo.crud.web.runtimeconfig.json
web/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
web/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
web/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
web/bin/Debug/net6.0/Microsoft.Identity.Client.dll
web/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
web/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
web/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
web/bin/Debug/net6.0/Microsoft.OpenApi.dll
web/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
web/bin/Debug/net6.0/Scrutor.dll
web/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
web/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
web/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
web/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
web/bin/Debug/net6.0/System.Drawing.Common.dll
web/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
web/bin/Debug/net6.0/System.Runtime.Caching.dll
web/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
web/bin/Debug/net6.0/System.Security.Permissions.dll
web/bin/Debug/net6.0/System.Windows.Extensions.dll
web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
web/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
web/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
web/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
web/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
